.table-container-unique {
  width: 100%;
  height: auto;
  overflow: auto;
}

.table-unique {
  border-collapse: collapse;
  width: 100%;
}

.th-unique, .td-unique {
  border: 1px solid #BE3F3F;
  padding: 8px;
  width: 25%;
  max-width: 150px;
  overflow-wrap: break-word;
}

.th-unique {
  background-color: #191A1C;
  color: white;
}

.tr-even-unique {
  background-color: black;
}

.tr-hover-unique:hover {
  background-color: #ddd;
}

.td-first-unique {
  background-color: #191A1C;
  border: 1px solid #BE3F3F;
  color:#E7E2E6;
  text-align: center;
}

.td-second-unique {
  background-color: #191A1C;
  border: 1px solid #BE3F3F;
  color:#E7E2E6;
}

.td-third-unique {
  background-color: #191A1C;
  border: 1px solid #BE3F3F;
  color:#E7E2E6;
}

.td-fourth-unique {
  background-color: #191A1C;
  border: 1px solid #BE3F3F;
  color:#E7E2E6;
  text-align: left;
}

@media screen and (max-width: 480px) {
  .th-unique, .td-unique {
    width: 25%;
    max-width: 100px;
    overflow-wrap: break-word;
  }
}
